body {
  position: relative;
  height: 100vh;
  margin: 0;
}

.box {
  width: 120px;
  height: 120px;
  position: absolute;
  color: black;
  font-size: 12px;
}

.top-left {
  top: 0;
  left: 0;
  background-color: #e6194b; /* أحمر */
}

.top-right {
  top: 0;
  right: 0;
  background-color: #4dbbd5; /* أزرق */
}

.bottom-left {
  bottom: 0;
  left: 0;
  background-color: #8bc34a; /* أخضر */
}

.bottom-right {
  bottom: 0;
  right: 0;
  background-color: #e6d84b; /* أصفر */
}